<!-- userDetail.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            color: #333;
        }

        p {
            margin: 5px 0;
        }

        strong {
            font-weight: bold;
        }

        a {
            text-decoration: none;
            color: #007bff;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>User Details</h1>
    <% if (user) { %>
        <p><strong>User ID:</strong> <%= user._id %></p>
        <p><strong>Username:</strong> <%= user.username %></p>
        <p><strong>First Name:</strong> <%= user.firstname %></p>
        <p><strong>Last Name:</strong> <%= user.lastname %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Birth:</strong> <%= user.birth %></p>
        <p><strong>Gender:</strong> <%= user.gender %></p>
        <p><strong>Phone Number:</strong> <%= user.phonenumber %></p>
        <p><strong>Password:</strong> <%= user.password %></p>
    <% } else { %>
        <p>User not found.</p>
    <% } %>

    <a href="/admin">Back to Users List</a>
</body>
</html>
